@import 'config';
@import 'buttons';
@import 'reset';


.navbar {
    background-color: $background-color;
    .navbar-brand  {
        img {
            width: 80px;
        }
    }

    .nav-item {
        a {
            font-weight: 600;
        }
    }
}

.about {
    .container {
        h1 {
            text-align: center;
            color: $primary-color;

            .text-head {
                
                font-size: 60px;
            }           
        }
        .btn {
            align-items: center;
        }
    }
}

.serve {
    h2{
        // background-color: $danger-color;
        border-radius: 20px;
        color: #fff;
        align-items: center;
        
    }
}

.col-md:hover {
    transform: translate(0px, -8px);
    transition: 0.4s;
}
.col-md-6:hover {
    transform: translate(0px, -8px);
    transition: 0.4s;
}

footer {
    table{
        th {
          font-size: $font-size;  
        }
    }
}

.showcase {
    background-color: $background-color;
    h1 {
        font-size: 60px;
    }
}
.about {
    background-color: $background-color;
}

.rounded-circle{
    width: 100px;
    height: 80px;
}

.col-md .card-body {
    height: 230px;
    
}

#services {
    .card {
        background-color: $background-color;
    }
}


  
 


